export EDITOR="/usr/local/bin/mate -w"

# User specified aliases and functions
export PATH=/Applications/Postgres.app/Contents/MacOS/bin:$PATH
export PATH=/Library/Frameworks/GDAL.framework/Programs:$PATH
export PATH=/Library/Frameworks/UnixImageIO.framework/:$PATH
export PATH=/Library/Frameworks/SQLite3.framework/:$PATH
export PATH=/Library/Frameworks/PROJ.framework/Programs:$PATH
export PATH=/opt/local/grib_api-1.10.0/bin:$PATH
export PATH=/opt/local/bin:$PATH
export PATH=/opt/local/sbin:$PATH
export PATH=~/.bin:$PATH

    
# Source file ~/.python_switcher.sh to be able to switch python version fast!
export OLD_PATH=$PATH
. $HOME/.python_switchers.sh

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer Swedish and use UTF-8
export LANG="sv_SE"
export LC_ALL="sv_SE.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"